
body{
	font-family: sans-serif;
}

h1{
	padding:20px;
	background:teal;
	font-size:36px;
	color:#fff;
}

p{
	padding:20px;
	color:red;
	font-size:24px;

}

a{
	color:lightblue;	
	padding:20px;
	font-size:18px;
	font-weight:bold;
	text-decoration: none;
}