/* ===========- SavSamoylov.github.io -============
|
| 1) General  - (Body, Typography, Global Rules)
| 2) Layout   - (Header, Content, Footer)
| 3) Elements - (Articles, Forms, Buttons)
| 4) Media Queries
|
================================================*/


/*===============================================
1) General  - (Body, Typography, Global Rules)
=================================================*/

body{
  background: #eee;
  font-family:'Roboto Mono', monospace;
  margin:0;
  padding:0;
  color: #25292c;
}

a, a:hover, a:active, a:visited, a:focus{
  text-decoration:none;
  color: #25292c;
}

.page-Wrap{
  position: relative;
  width: 92%;
  padding-left: 0 30px;
  margin:0 auto;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*===============================================
2) Layout   - (Header, Content, Footer)
=================================================*/

#main-Header{
  height:125px;
  line-height: 125px;
  border-bottom:1px solid #dadada;
}

.header-Logomark a{
  color: #232527;
}

.header-Logomark{
  position: relative;
  float:left;
  text-transform: uppercase;
  font-weight: 700;
  font-size:1.75em;
}

.header-Logomark img{
  position: relative;
  top:10px;
  height: 45px;
}

.header-Title{
  position: relative;
  float: left;
  padding:0 35px;
}

.header-Title span{
  color: #7c7c7c;
}

.header-Menu{
  position: relative;
  float:right;
}

.header-Menu ul li{
  display: inline;
  padding:0 5px;
}

.header-Menu ul li a{
  font-size:1em;
  font-weight:400;
  color:#6f6f6f;
  font-family:"BioRhyme" ,serif;
}

.header-Menu ul li a:hover{
  color:#ef483e;
  transition:.2s;
}

.header-Menu ul li:last-child{
  padding-right:0;
}

.main-Content{
  padding:25px 0 50px;
}

.hero-Msg{
  position: relative;
  margin:50px auto;
  text-align: left;
  font-size:1.2em;
  font-weight: 400;
  line-height:1.3em;
  padding:40px 0;
  color:#6f6f6f;
}


.hero-Msg a{
  color: #ef483e;
  border-bottom:2px dotted #ef483e;
}

@supports (display: grid) {

  .portfolio-Grid{
    position:relative;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:50px;
    grid-row-gap:170px;
  }

  .pItem{
    position:relative;
    background: #fff;
    width:auto;
    margin-bottom: 0;
  }

}


.portfolio-Grid {
  position:relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.pItem {
  position: relative;
  background:#fff;
  width: 30%;
  margin-bottom: 205px;
  padding:20px;
  border-bottom:2px solid #ccc;
}

.pItem img{
  height:100%;
}

.pDescription{
  position: absolute;
  background: #f7f7f7;
  width:95%;
  top:87%;
  left:2.5%;
  padding:25px;
  border-bottom:2px solid #ccc;
}

.pDescription h1{
  font-size:1.25em;
  font-family: "BioRhyme", serif;
  font-weight:400;
  letter-spacing: 1.5px;
  color:#292929;
}

.pDescription p{
  padding:15px 0;
  color: #8a8a8a;
  letter-spacing: 2px;
  line-height:1.25em;
}

.pDescription a{
  float: right;
  color:#ef483e;
  margin-left: 20px;
}

.pDescription p a{
  float: none;
  color:#8a8a8a;
  margin-left: 0;
}
/*===============================================
3) Elements - (Articles, Forms, Buttons, Links)
=================================================*/


.content-Heading{
  position: relative;
  margin:0 0 50px;
  font-size: 1.2em;
}


/*===============================================
4) Media Queries
=================================================*/
@media (max-width:1270px ){

  @supports (display: grid) {
    .portfolio-Grid{
      grid-template-columns: repeat(2, 1fr);
    }
    .pItem{width:auto;}
  }

  .pItem{width:47%;}

}


@media (max-width:732px ){

  #main-Header{
    position: relative;
    width: 100%;
    height:inherit;
    z-index:2;
    text-align: center;
    overflow:hidden;
    line-height: 75px;
    padding:0 0 20px;
  }

  .header-Logomark{
    position: relative;
    width:100%;
    margin-top:20px;
  }

  .header-Logomark a{
    color: #ffffff;
  }

  .header-Title{
    width:100%;
  }

  .header-Menu{
    position: relative;
    width:100%;
    line-height: 45px;
  }

  .header-Menu ul li:last-child{
    padding-right:5px;
  }

  .pItem{
    margin-bottom:210px;
  }

  .pDescription p{
    font-size:.9em;
  }

}

@media (max-width:575px ){
  .page-Wrap{
    width:85%;
  }

  .header-Title span{
    display: block;
  }

  .hero-Msg{
    font-size:1em;
  }

  .pItem{width:100%;}


  @supports (display: grid) {
    .portfolio-Grid{
      grid-template-columns: repeat(1, 1fr);
    }
    /*.pItem{width:auto;}*/
  }

}
